<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Chatbot</h3>
            </div>
            <div class="panel-body">
              <div id="chatbox"></div>
              <form id="chatform" autocomplete="off">
                <div class="input-group">
                  <input type="text" name="question" class="form-control" placeholder="Type your question here...">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Send</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#chatform').submit(function(event) {
          event.preventDefault();
          var question = $('input[name="question"]').val();
          $.ajax({
            url: '/api/chat',
            type: 'POST',
            data: JSON.stringify({'question': question}),
            contentType: 'application/json;charset=UTF-8',
            success: function(data) {
              $('#chatbox').append('<div class="row"><div class="col-md-12"><p><strong>You:</strong> ' + question + '</p></div></div>');
              $('#chatbox').append('<div class="row"><div class="col-md-12"><p><strong>Bot:</strong> ' + data.response + '</p></div></div>');
              $('input[name="question"]').val('');
            },
            error: function(xhr, status, error) {
              console.log('Error:', error);
            }
          });
        });
      });
    </script>
  </body>
</html>
