<!DOCTYPE html>
<html>
  <head>
    <title>Chat Box</title>
    <link rel="stylesheet" href="static/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
      // Send the user's question to the server and display the response
      function sendQuestion() {
        var question = $("#question-input").val();
        if (question) {
          var timestamp = new Date().toLocaleTimeString();
          $("#chat-area").append("<div container class='message-container'><div class='row'><div class='col timestamp'><p class='small mb-1 text-muted'>" + timestamp + "</p></div></div><div class='row user-message'><div class='col'><span>" + question + "<span></div></div></div>");
          $("#question-input").val("");
          $("#chat-area").scrollTop($("#chat-area").prop("scrollHeight"));
          $("#loading-indicator").show();
          $.ajax({
            url: "/api/chat",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ question: question }),
            success: function(data) {
              var response = data.response.replace(/\n/g, "<br><br>");
              var typingSpeed = 50; // in milliseconds
              var responseArray = response.split(" ");
              var currentIndex = 0;
              var responseTimer = setInterval(function() {
                if (currentIndex < responseArray.length) {
                  var responseText = responseArray.slice(0, currentIndex + 1).join(" ");
                  $("#typing-indicator").html(responseText);
                  currentIndex++;
                } else {
                  clearInterval(responseTimer);
                  var timestamp = new Date().toLocaleTimeString();
                  $("#typing-indicator").html("");
                  var response = data.response.replace(/\n/g, "<br>");
                  $("#chat-area").append("<div container class='message-container'><div class='row'><div class='col bot-timestamp'><p class='small mb-1 text-muted'>" + timestamp + "</p></div></div><div class='row bot-message'><div class='col'><span>" + response.replace(/\n/g, "<br><br>").replace(/(https?:\/\/[^\s]+)/g, "<a href='$1' target='_blank'>$1</a>") + "<span></div></div></div>");
                  $("#chat-area").scrollTop($("#chat-area").prop("scrollHeight"));
                  $("#loading-indicator").hide();  
                }
              }, typingSpeed);

            },
            error: function() {
              alert("Unable to process the request.");
              $("#loading-indicator").hide();
            }
          });
        }
      }


      // Send the user's question when they press Enter in the text input field
      $("#question-input").keydown(function(event) {
        if (event.keyCode == 13) {
          sendQuestion();
          $("#question-input").val("");
          return false;
        }
      });
    </script>
  </head>
  <body>
    <div id="chat-box">
      <div id="chat-area"></div>
      <div id="input-area">
        <input type="text" id="question-input" placeholder="Ask here" />
        <button id="send-button" onclick="sendQuestion()">Send</button>
      </div>
      <div id="typing-indicator"></div>
      <div id="loading-indicator">
        <div class="loader"></div>
      </div>
    </div>
    <script>
      var input = document.getElementById("question-input");
      input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("send-button").click();
        }
      });
      </script>
  </body>
</html>
